.Button {
    background-color: transparent;
    color: #183a1d;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    margin-left: 90%;
    border-radius: 3px;
}

.Button:hover {
    background-color: #183a1d;
    color: #e1eedd;
}

.Button:disabled {
    color: #f0a04b;
}

.Submit {
    outline: none;
    cursor: pointer;
    border: 1px solid #183a1d;
    color: #183a1d;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #183a1d;
    position: relative;
    margin: 20px auto;
    background-color: #e1eedd;
}

.Submit:hover, .Submit:active {
    background-color: #183a1d;
    color: #fefbe9;
}

.Submit:disabled {
    background-color: #fefbe9;
    cursor: not-allowed;
    border: 1px solid #e1eedd;
    color: #f6c453;
}

.Submit:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.SimpleButton {
    margin-left: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: normal;
    border: 1px solid #183a1d;
}

.SimpleButton:hover {
    background-color: #e1eedd;
}