.Input {
    width: 60%;
    box-sizing: border-box;
    margin: 5px auto;
}

.Label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #f6c453;
    background-color: #fefbe9;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
}

.InputElement:focus {
    outline: none;
    background-color: #e1eedd;
}

.Invalid {
    outline: none;
    border: 1px solid red;
    background-color: #ffbcbc;
}

.ValidationError {
    color: red;
    margin: 5px 0;
    text-align: center;
}

@media (max-width: 600px) {
    .Input {
        width: 100%;
    }
}